name: Publish Helm Charts

on:
  push:
    branches:
      - main
    paths:
      - 'myapp/**'
      - '.github/workflows/**'
      - 'values.yaml'
      - 'Chart.yaml'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Package chart
        run: |
          helm package myapp -d .
          helm repo index . --url https://iamkeerthik.github.io/helm_crash_course/

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .